@using BlazorChess.Client.Chess.Components;
@using BlazorChess.Shared.Models;
@using BlazorChess.Client.Chess.Online.Components;

@inject HttpClient Http
@inject NavigationManager Navigation
@page "/Chess/Online/Create"

<PageTitle>Create online game</PageTitle>
<h3>Create online game</h3>

<HeadContent>
	<meta property="og:title" content="Create online chess match">
	<meta property="og:image" content="http://euro-travel-example.com/thumbnail.jpg">
</HeadContent>

<GameSettings Settings="settings"/>
<hr />
<button class="btn btn-primary" @onclick="CreateGame">Create game</button>