@using BlazorChess.Client.Chess.Components;

@page "/Chess/Local/{PlayerSideStr?}"
@inherits ChessGame

<h3>Chess</h3>

<ChessContextWrapper Context="Context">

	<MouseInput @ref="@OpponentInput" InputForSide="@OpponentSide">
	<MouseInput @ref="@PlayerInput" InputForSide="@PlayerSide">
		<ChessRenderer @ref="Renderer" Spritesheet="Spritesheet"/>
	</MouseInput>
	</MouseInput>
	<ChessSpritesheet @ref="Spritesheet"/>

	<hr/>
	<button class="btn btn-primary" @onclick="RestartGame"> Restart </button> 
	<GameStatus @ref="GameStatus"/>

</ChessContextWrapper>
