@page "/"

<PageTitle>Blazor chess</PageTitle>

<h1>Welcome to chess website!</h1>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="chess/local">
        <span class="oi oi-people" aria-hidden="true"></span> Play with friend offline
    </NavLink>
    </div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="chess/ai/white">
        <span class="oi oi-laptop" aria-hidden="true"></span> Play with computer
    </NavLink>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="chess/online/create">
        <span class="oi oi-globe" aria-hidden="true"></span> Create online game
    </NavLink>
</div>

